{% extends "base.html" %} 


{% block topbar %}
<div class="topbar">

	{% if form.errors %}
	<div class="alert-message error fade in" data-alert="alert"
		style="z-index: 101;">
		<a class="close pull-left" href="#">&times;</a>
		<p>
			<big>Please correct your FORM error{{form.errors|pluralize }} below</big>
		</p>
	</div>
	{% endif %} 
	
	{% if form.message %}
	<div class="alert-message success fade in" data-alert="alert"
		style="z-index: 101">
		<a class="close" href="#">&times;</a>
		<p>
			<big>{{form.message}}</big>
		</p>
	</div>
	{% endif %}

	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/"><img align="top" src="{{ STATIC_URL }}images/logo.png" height="20" width="20"/>&nbsp;&nbsp;Tobacco Free</a>
			<ul class="nav">
	            <li><a href="/#home">Home</a></li>
	            <li><a href="/observation/list">My Observations</a></li>
            	{% if user.is_staff %}
            	<li class="menu active" data-dropdown="dropdown">                        
            	    <a href="#" class="menu">Admin</a>                            
            	    <ul class="menu-dropdown">                                    
            	      <li><a href="/admin/list_observers">Users</a></li>          
            	      <li class="divider"></li>                                   
            	      <li><a href="/admin/list_observations">Observations</a></li>
            	    </ul>                                                         
            	</li>                                                             
            	{% endif %}
            </ul>
            <ul class="nav secondary-nav">                                                 
		  	<li class="menu" data-dropdown="dropdown">                                 
		        <a href="#" class="menu">{{ user.username }}</a>
		        <ul class="menu-dropdown">                                               
		          <li><a href="/observer/profile">My Profile</a></li>                        
		          <li class="divider"></li>                                              
		          <li><a href="/observer/logout">Logout</a></li>                             
		        </ul>                                                                    
		      </li>                                                                      
		    </ul>	
		</div>
	</div>
</div>
{% endblock %} 


{% block hero %}
<h1>
	NZDIS Tobacco Free <small> smoking in cars study</small>
</h1>
<p></p>
</p>
<p>&nbsp;</p>

{% endblock %} 




{% block content %}

<div class="row">
	<div class="span13">
		<hr>
		<h2>Observers</h2>
		<table>
		<thead><td></td><td>Name</td><td>Affiliation</td><td>username/email</td><td>Approved?</td><td>Staff?</td><td></thead>
		<tbody>
		{% for o in observers %}
		<tr><td>{{forloop.counter}}</td>
		<td><a href="/admin/profile?observer={{o.user.username}}">{{o.name}} {{o.surname}}</a></td>
		<td>{{o.affiliation}}</td>
		<td>{{o.user.username}}</td><td>{{o.approved}}</td><td>{{o.user.is_staff}}</td></tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>

{% endblock %}
