<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nzdis.tobaccofree"
      android:versionCode="11"
      android:versionName="@string/app_version">
    
    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.INTERNET" />   
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
    <application
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="nzdis.tobaccofree.GlobalinkActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name="nzdis.tobaccofree.ObservationActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="nzdis.tobaccofree.ViewObservationsActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="nzdis.tobaccofree.PreferencesActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="nzdis.tobaccofree.InstructionsActivity" 
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="nzdis.tobaccofree.ObserverAccountActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
    </application>

</manifest>