{% extends "base.html" %} 


{% block topbar %}
<div class="topbar">

	{% if form.errors %}
	<div class="alert-message error fade in" data-alert="alert"
		style="z-index: 101;">
		<a class="close pull-left" href="#">&times;</a>
		<p>
			<big>Please correct your FORM error{{form.errors|pluralize }} below</big>
		</p>
	</div>
	{% endif %} 
	
	{% if form.message %}
	<div class="alert-message success fade in" data-alert="alert"
		style="z-index: 101">
		<a class="close" href="#">&times;</a>
		<p>
			<big>{{form.message}}</big>
		</p>
	</div>
	{% endif %}

	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/"><img align="top" src="{{ STATIC_URL }}images/logo.png" height="20" width="20"/>&nbsp;&nbsp;Tobacco Free</a>
			<ul class="nav">
	            <li><a href="/#home">Home</a></li>
	            <li class="active"><a href="/observation/list">My Observations</a></li>
            	<li><a href="/observer/profile">My Profile</a></li>
            </ul>
            <form class="pull-right">
          		<ul>
    	  			<a href="/observer/logout">{{ user.username }} &raquo; logout</a>
    	  		</ul>
    	  	</form>	
		</div>
	</div>
</div>
{% endblock %} 


{% block hero %}
<h1>
	NZDIS Tobacco Free <small> smoking in cars study</small>
</h1>
<p></p>
</p>
<p>&nbsp;</p>

{% endblock %} 




{% block content %}

<div class="row">
	<div class="span11">
		<hr>
		<h2>Observations collected by {{ observer.name }} {{ observer.surname }}</h2>
		<table>
		<thead><td></td><td>Start</td><td>Duration</td><td>no smoking</td><td>lone adult</td><td>multiple adults</td><td>child</td></thead>
		<tbody>
		{% for o in observations %}
		<tr><td>{{forloop.counter}}</td><td>{{o.start|date:"Y-m-d H:i"}}</td><td>{{o.finish|date:"Y-m-d H:i"}}</td>
		<td>{{o.no_smoking}}</td><td>{{o.lone_adult}}</td><td>{{o.other_adults}}</td><td>{{o.child}}</td></tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>

{% endblock %}
