<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NZDIS Tobacco</title>
    <meta name="description" content="University of Otago joint project with Globalink. Tobacco Free. Tobacco Awarness. Record smoking in cars. Globally. Share your results.">
    <meta name="author" content="NZDIS Group. University of Otago">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ribbon.css" rel="stylesheet">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    
            
    <style type="text/css">
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
  
  <a id="home"></a>&nbsp;
{% block topbar %}
    <div class="topbar">

 	{% if form.errors %}
	<div class="alert-message error fade in" data-alert="alert" style="z-index: 101;">
  		<a class="close pull-left" href="#">&times;</a>
  		<p><big><a href="#feedback">Please correct your FORM error{{ form.errors|pluralize }} below</a></big></p>
	</div>
    {% endif %}
    
    {% if form.message %}
    <div class="alert-message success fade in" data-alert="alert" style="z-index: 101">
  		<a class="close" href="#">&times;</a>
  		<p><big>{{form.message}}</big></p>
	</div>
    {% endif %}	

      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/"><img align="top" src="{{ STATIC_URL }}images/logo.png" height="20" width="20"/>&nbsp;&nbsp;Tobacco Free</a>
          <ul class="nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="/#awareness">Awareness</a></li>
            <li><a href="/#feedback">Feedback</a></li>
        {% if user.is_authenticated %}
        	<li><a href="/observation/list">My Observations</a></li>
            {% if user.is_staff %}
            <li class="menu" data-dropdown="dropdown">                                 
		        <a href="#" class="menu">Admin</a>
		        <ul class="menu-dropdown">                                               
		          <li><a href="/admin/list_observers">Users</a></li>                        
		          <li class="divider"></li>                                              
		          <li><a href="/admin/list_observations">Observations</a></li>                             
		        </ul>                                                                    
		    </li>
            {% endif %}
        {% endif %}
          </ul>
        {% if user.is_authenticated %}
		  <ul class="nav secondary-nav">                                                 
		  	<li class="menu" data-dropdown="dropdown">                                 
		        <a href="#" class="menu">{{ user.username }}</a>
		        <ul class="menu-dropdown">                                               
		          <li><a href="/observer/profile">My Profile</a></li>                        
		          <li class="divider"></li>                                              
		          <li><a href="/observer/logout">Logout</a></li>                             
		        </ul>                                                                    
		      </li>                                                                      
		  </ul>                                                                          
		{% else %}
		  </ul>
    		<form action="/observer/login" method="POST" class="pull-right">
			{% csrf_token %}
            <input class="input-small" id="email" name="email" type="text" placeholder="E-mail">
            <input class="input-small" id="password" name="password" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
		{% endif %}
        </div>
      </div>
    </div>
{% endblock %}

    <div class="right ribbon-holder" style="padding-top: 40pt">
   		<a href="https://github.com/marni/NZDIS-TobaccoFree" class="orange ribbon">
      	<span class="text" style='color: #FFFFFF;'>Fork me on GitHub</span>
   		</a>
	</div>
	
   <div class="container">
      <div class="content">
{% block hero %}	
        <!-- Main hero unit for a primary marketing message and call to action -->
          
          <div class="row">
          	<div class="span8">
          	   <h1>Tobacco Free <small> smoking in cars study</small> </h1>

               {% if not user.is_authenticated %}          	   
          	   <p>
          	   <a href="https://market.android.com/details?id=nzdis.tobaccofree">
                  <img height="160" width="284" src="{{ STATIC_URL }}images/screen5.png"/>
               </a>
               </p>
          	                                           
               <ul>                                                                                                
               	<li>How many people smoke in cars?</li>                                                           
               	<li>How many passive smokers are affected?</li>                                                   
               	<li>How many children? </li>                                                                      
                <li>How much the stats differ between cities? Countries?</li>                                     
               </ul>                                                                                               

               <p>                                                                                                 
               <a href="/observer/register" class="btn success large pull-left">
               		<big>Register</big> to participate &raquo;</a>&nbsp;&nbsp;                                                                                        
 			   <a href="#about" class="btn primary large">Learn more &raquo;</a>                                         
               </p>
               {% endif %}
          	</div>
          	{% if not user.is_authenticated %}
          	<div class="span3" align="top">
          		<a href="https://market.android.com/details?id=nzdis.tobaccofree">
          		<img align="top" src="http://chart.apis.google.com/chart?cht=qr&chs=350x350&chld=L&choe=UTF-8&chl=https%3A%2F%2Fmarket.android.com%2Fdetails%3Fid%3Dnzdis.tobaccofree"/></a>
	      	</div>
	      	{% endif %}
	      </div>
{% endblock %}

{% block content %}
	<!-- Some stats. For testing purposes. -->
	<hr>
	<div class="row">
	  <div class="span8">
	    <h2>Statistics</h2>
	    <h4>Overall</h4>
	    <ul>
	      <li><big>{{ number_of_registered_observers }}</big> registered loggers</li>
      	  <li><big>{{ number_of_observations }}</big> stored observations</li>
      	  <li><big>{{ number_of_cars }}</big> cars checked</li>
      	  <li><big>{{ ratio_of_smokers|floatformat }}%</big> of people <big>smoke</big> in cars</li>
	    </ul>
	  </div>
	</div>
    
	
    <!-- About -->
    <a id="about"></a>&nbsp;
	<hr>
    <div class="row">    
       <div class="span8">
       <h2>About</h2>
       <p>To collect data from multiple sites, globally, many times a day, 
          over and over again, would be expensive. So expensive, that 
          study like that is impossible	to run through traditional methods.<br>
	   <p>The idea is to ask volunteers to help. <big>YOU</big> will help us to conduct the study.</p>
          <ul>
	      <li>Anyone can participate</li>
	      <li>Register and we will verify your details</li>
	      <li><a href="https://market.android.com/details?id=nzdis.tobaccofree">Download and install</a> NZDIS TobaccoFree Android application</li>
	      <li>Agree to University of Otago &raquo;Ethical Conduct and Honour Code&laquo;</big></li>
	      <li>Start logging the data</li>
	    </ul>
	    <p>We have developped a mobile application on Android phones. <a href="https://market.android.com/details?id=nzdis.tobaccofree">Download it</a> and use. </p>
	    <p>The application
	    allows easy logging of occurances of smoking in cars. Install it, go out, and collect data about particular location. 
	    Instructions are provided within the application.</p>
	    <p></p>
      </div>
	</div>
	
	<hr>
	<a id="awareness"></a>
	<div class="row">
       <div class="span11">
       <a name="about"></a>
       <h2>Awareness</h2>
	   <p></p>
	   <h3>World</h3>
        <ul>
          <li><a href="http://www.globalink.org">GlobaLink</a> &laquo;
	      	GlobaLink - the International Tobacco Control Community</li>
	      <li><a href="http://en.wikipedia.org/wiki/Tobacco_control">Tobacco control</a> &laquo;
	      	Article on Wikipedia about Tobacco control and the history of the movement</li>
	      <li><a href="http://en.wikipedia.org/wiki/Tobacco_control">Tobacco Free movement</a> &laquo;
	      	Another Article on Tobacco control movement</li>
	    </ul>
	    <h3>New Zealand</h3>
        <ul>
          <li><a href="http://www.sfc.org.nz">The Smokefree Coalition</a> &laquo;
	      	The Smokefree Coalition - te ohu auahi kore</li>
          <li><a href="http://www.smokefree.co.nz">Smokefree by Health Sponsorship Council</a> &laquo;
	      	Smokefree - auahi kore, Health Sponsorship Council</li>
          <li><a href="http://www.tereomarama.co.nz">Te Reo Marama</a> &laquo;
	      	Maori community for Tobacco resistance</li>
	    </ul>
      </div>
	</div>
	
	<script type="text/javascript">
		$(".alert-message").alert()
	</script>
	
	<hr>
	<a id="feedback"></a>
	<div class="row">
       <div class="span11">
       <a name="about"></a>

       <h2>Feedback <small>tell us what you think</small></h2>

        <form action="/feedback/send" method="POST">
	          {% csrf_token %}
	          {{ form.non_field_errors }}
	          <fieldset>
	          
	          	{% include "observation/parts/field.html" with field=form.email %}
				{% include "observation/parts/field.html" with field=form.subject %}
				{% include "observation/parts/field.html" with field=form.description %}
				
				<div class="actions">
	            	<input type="submit" class="btn primary" value="Send feedback &raquo;">&nbsp;
	                <button type="reset" class="btn">Clear form</button>
	            </div>
			  </fieldset>
		</form>
	  </div>
	</div>
	
{% endblock %}

{% block footer %}   
        <footer>
          <p>&copy; 2011-2012 <a href="http://nzdis.org">NZDIS Group</a> and <a href="http://otago.ac.nz">University of Otago</a></p>
        </footer>
{% endblock %}
        
      </div>
    </div>

  </body>
</html>
