
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NZDIS TobaccoFree</title>
    <meta name="description" content="University of Otago, New Zealand Distributed Information Systems (NZDIS) project. Tobacco Free. Tobacco Awarness. Volunteers record smoking in cars. Globally. Share your data. Spread the results.">
    <meta name="author" content="NZDIS Group. University of Otago">
    
    <meta property="og:title" content="NZDIS TobaccoFree"/>
	<meta property="og:description" content="TobaccoFree, volunteers collect data about smoking in cars. Crowdsourcing data with mobile phones.">
	<meta property="og:type" content="text"/>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ribbon.css" rel="stylesheet">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    
    <!-- 127.0.0.1:8000 KEY
    <script src="https://www.google.com/jsapi?key=ABQIAAAACaHqSPzHqfwVN22KYziTsRRi_j0U6kJrkFvY4-OX2XYmEAa76BQiz3J39v-PT4dSnT3v_7uHOD-aOQ" type="text/javascript"></script>
    -->
    <!-- tobaccofree.nzdis.org KEY -->
    <script src="https://www.google.com/jsapi?key=ABQIAAAAezuV-NCDVBiP1WVf9ezubRTDt9Neq9z0zAPjB92_W5PAkXCu8BTRUbHPsGmSufT6G9ctE-exE2954w" type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/nzdis.js"></script>
      
    <style type="text/css">
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }
      
      tr.stats-insufficient, span.stats-insufficient {
      	color: #bfbfbf;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <style type="text/css">
      #map_canvas {
        position:inherit;
        height: 400px;
        width: 680px;
        border: 1px solid #333;
        margin-top: 0.6em;
      }
    </style>
    
    <!--  Google Analytics -->
    <script type="text/javascript">
	  	var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-28696610-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
  </head>

  <body>
  
  <a id="home"></a>&nbsp;
{% block topbar %}
    <div class="topbar">

 	{% if form.errors %}
	<div class="alert-message error fade in" data-alert="alert" style="z-index: 101;">
  		<a class="close pull-left" href="#">&times;</a>
  		<p><big><a href="#feedback">{{ _("Please correct your FORM error below") }}</a></big></p>
	</div>
    {% endif %}
    
    {% if form.message %}
    <div class="alert-message success fade in" data-alert="alert" style="z-index: 101">
  		<a class="close" href="#">&times;</a>
  		<p><big>{{form.message}}</big></p>
	</div>
    {% endif %}	

	<script type="text/javascript">
		$(".alert-message").alert()
	</script>

      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
          	<img align="top" src="{{ STATIC_URL }}images/logo.png" height="20" width="20"/>&nbsp;&nbsp;Tobacco Free</a>
          <ul class="nav">
            <li class="active"><a href="#home">{{ _("Home") }}</a></li>
            <li><a href="/#awareness">{{ _("Awareness") }}</a></li>
            <li><a href="/#feedback">{{ _("Feedback") }}</a></li>
            <li><a href="/observer/hall_of_fame">{{ _("People") }}</a></li>
        {% if user.is_authenticated %}
        	<li><a href="/observation/list">{{ _("My Observations") }}</a></li>
            {% if user.is_staff %}
            <li class="menu" data-dropdown="dropdown">                                 
		        <a href="#" class="menu">{{ _("Admin") }}</a>
		        <ul class="menu-dropdown">                                               
		          <li><a href="/admin/list_observers">{{ _("Users") }}</a></li>                        
		          <li class="divider"></li>                                              
		          <li><a href="/admin/list_observations">{{ _("Observations") }}</a></li>                             
		        </ul>                                                                    
		    </li>
            {% endif %}
        {% endif %}
          </ul>
        {% if user.is_authenticated %}
		  <ul class="nav secondary-nav">
		  	<li class="menu" data-dropdown="dropdown">                                 
		        <a href="#" class="menu">{{ user.username }}</a>
		        <ul class="menu-dropdown">                                               
		          <li><a href="/observer/profile">{{ _("My Profile") }}</a></li>                        
		          <li class="divider"></li>                                              
		          <li><a href="/observer/logout">{{ _("Logout") }}</a></li>                             
		        </ul>                                                                    
		      </li>

           	<li class="menu" data-dropdown="dropdown">
          		<a href="#" class="menu">
          			<img style="position:absolute; top:5px;" src="{{ STATIC_URL }}images/lang_world.png" height="28" width="28"/>
          		</a>
          		<ul class="menu-dropdown">
        	    {% for lang in LANGUAGES %}
			        <li>
			        <div>
                    <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
                    	{% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input type="hidden" name="language" value="{{ lang.0 }}" />
                        <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                    </form>
                   </div>
        	        </li>
            	{% endfor %}    
          		</ul>
          	</li>                                                                      
		  </ul>                                                                          
		{% else %}
		</ul>
          <ul class="nav secondary-nav pull-right">
          	<li>
    		<form action="/observer/login" method="POST" class="pull-right">
				{% csrf_token %}
        	    <input class="input-small" id="email" name="email" type="text" placeholder="{{ _('E-mail') }}">
            	<input class="input-small" id="password" name="password" type="password" placeholder="{{ _('Password') }}">
            	<button class="btn" type="submit">{{ _("Sign in") }}</button>
	          </form>
          	</li>
  	        <li class="menu pull-right" data-dropdown="dropdown">
          		<a href="#" class="menu">
          			<img style="position:absolute; top:5px;" src="{{ STATIC_URL }}images/lang_world.png" height="28" width="28"/>
          		</a>
          		<ul class="menu-dropdown">
        	    {% for lang in LANGUAGES %}
			        <li>
			        <div>
                    <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
                    	{% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input type="hidden" name="language" value="{{ lang.0 }}" />
                        <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                    </form>
                   </div>
        	        </li>
            	{% endfor %}    
          		</ul>
          	</li>                                                                      

          </ul>

		{% endif %}
        </div>
      </div>
    </div>
{% endblock %}

    <div class="right ribbon-holder" style="padding-top: 40pt">
   		<a href="https://github.com/marni/NZDIS-TobaccoFree" class="orange ribbon">
      	<span class="text" style='color: #FFFFFF;'>{{ _("Fork me on GitHub") }}</span>
   		</a>
	</div>
	
   <div class="container">
      <div class="content">
<!-- Main hero unit for a primary marketing message and call to action -->
{% block hero %}	
          <div class="row">
           	<div class="span11">
          	   <h1>Tobacco Free <small> {{ _("counting smoking in cars") }}</small> </h1>
			</div>
            {% block hero_content %}
            {% if not user.is_authenticated %}
            <div class="span4">
            	<div>
	      		<a href="http://play.google.com/store/apps/details?id=nzdis.tobaccofree" class="pull-right">
	      		<img alt="Android app on Galaxy Nexus" width="200" height="370" src="{{ STATIC_URL }}images/galaxy_home_screen.png" />
	      		<img alt="Android app on Google Play" src="http://www.android.com/images/brand/android_app_on_play_logo_large.png" /></a>
				<!-- <img align="top" src="http://chart.apis.google.com/chart?cht=qr&chs=200x200&chld=L&choe=UTF-8&chl=https%3A%2F%2Fmarket.android.com%2Fdetails%3Fid%3Dnzdis.tobaccofree"/> -->
				<h1>{{ number_of_android_observations }} <small>{{ _("observations") }}</small></h1>
				</div>     		
            </div>
            
          	<div class="span7">          	   
          	   <p>
          	   <a href="https://market.android.com/details?id=nzdis.tobaccofree">
                  <img height="160" width="284" src="{{STATIC_URL}}images/screen5.png"/>
               </a>
               </p>
          	                                           
               <ul>                                                                                                
               	<li>{{ _("How many people smoke in cars?") }}</li>                                                           
               	<li>{{ _("How many passive smokers are affected?") }}</li>                                                   
               	<li>{{ _("How many children?") }}</li>                                                     
                <li>{{ _("How much the stats differ between countries?") }}</li>                                     
               </ul>                                                                                               

               <p>                                                                                                 
               <a href="/observer/register" class="btn success large pull-left">
               		<b>{{ _("Register") }}</b> {{ _("to participate") }} &raquo;</a>&nbsp;&nbsp;                                                                                        
 			   <a href="#about" class="btn primary large">{{ _("Learn more") }} &raquo;</a>                                         
               </p>
          	</div>
	      
	        <div class="span3">
	        	<br>
	        	<div>
	      		<a href="http://itunes.apple.com/us/app/tobaccofree/id510309016"" class="pull-right">
	      		<img alt="iPhone app " width="180" height="340" src="{{ STATIC_URL }}images/iphone_home_screen.png" />
  				<img alt="iPhone app on iTunes" src="{{ STATIC_URL }}images/apple_appstore_icon.png" />
				</a>
				<h1>{{ number_of_iphone_observations }} <small>{{ _("observations") }}</small></h1>
				</div>	      		
            </div>
            {% endif %}
            {% endblock %}
	      </div>
{% endblock %}

{% block content %}
	<!-- Some stats. For testing purposes. -->
	<hr>
	<div class="row">
	  <div class="span8">
	    <h2>{{ _("Statistics") }} <small>{{ _("overall") }}</small></h2>
	    <ul>
	      <li><big>{{ number_of_registered_observers }}</big> {{ _("registered loggers") }} (<big>{{ number_of_active_observers }}</big> {{ _("active")}}) </li>
      	  <li><big>{{ number_of_observations }}</big> {{ _("stored observations") }} 
      	  	({{ number_of_android_observations }} Android, {{ number_of_iphone_observations }} iPhone)</li> 
      	  <li><big>{{ number_of_cars }}</big> {{ _("cars checked") }}</li>
      	  <li><big>{{ ratio_of_smokers|floatformat }}% &plusmn; {{ ratio_of_smokers_interval|floatformat }}</big> {{ _("of people") }} <big>{{ _("smoke") }}</big> {{ _("in cars") }}</li>
	    </ul>
	  </div>
	
	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	
	<div class="fb-like" data-href="http://tobaccofree.nzdis.org" 
		data-send="true" data-layout="button_count" 
		data-width="150" data-show-faces="false" 
		data-action="like">
	</div>

	<a href="https://twitter.com/share" 
		class="twitter-share-button" 
		data-url="http://tobaccofree.nzdis.org"
		data-counturl="http://tobaccofree.nzdis.org"
		data-text="#TobaccoFree {{ number_of_registered_observers }} {{ _('registered loggers') }}, {{ number_of_observations }} {{ _('stored observations') }}, {{ number_of_cars }} {{ _('cars checked') }}, {{ ratio_of_smokers|floatformat }}% {{ _('of people') }} {{ _('smoke') }} {{ _('in cars') }}" 
		data-via="nzdis"
		data-rel="canonical" 
		data-related="nzdis:New Zealand Distributed Information Systems., ognus:Developer - PhD student - University of Otago, praeteritio:Researcher - Lecturer - University of Otago." 
		data-count="horizontal">{{ _("Tweet") }}</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	
	
	<div class="row">
	  <div class="span13">
	    <h4>{{ _("Statistics per") }} <big>{{ _("country") }}</big></h4>
	    <table>
	    <thead>
	    <td>{{ _("Country") }}</td>
   	    <td>{{ _("Smoking") }} - {{ _("overall") }} </td>
	    <td>{{ _("Smoking") }} - {{ _("second-hand exposure") }}</td>
	    <td>{{ _("Smoking") }} - {{ _("child exposure") }}</td>
	    <td>{{ _("Num. cars") }}</td>
	    <td>{{ _("Num.") }} {{ _("observation") }} {{ _("sessions") }}</td>
	    </thead>
	    <tbody>
	    {% for c in countries %}
	    {% if c.num_cars < 301 %}
	    	<tr class="stats-insufficient">
	    		<td>{{c.country_name}}</td>
	    		<td>{{c.ratio_of_smokers|floatformat}}%</td>
	    		<td></td>
	    		<td></td>
	    		<td>{{c.num_cars}}</td>
	    		<td>{{c.num_observations}}</td>
	    	</tr>
	    	{% else %}
	    	<tr>
	    		<td>{{c.country_name}}</td>
	    		<td>{{c.ratio_of_smokers|floatformat}}% &plusmn; {{c.ratio_of_smokers_interval|floatformat}}</td>
	    		<td>{{c.ratio_of_second_hand|floatformat}}% &plusmn; {{c.ratio_of_second_hand_interval|floatformat}}</td>
	    		<td>{{c.ratio_of_child|floatformat}}% &plusmn; {{c.ratio_of_child_interval|floatformat}}</td>
	    		<td>{{c.num_cars}}</td>
	    		<td>{{c.num_observations}}</td>
	    	</tr>
	    	{% endif %}
	    {% endfor %}
	    </tbody>
	    </table>
	   	<p><b>Notes:</b></p>
	    <p>Error ranges are calculated with 99% Confidence Interval (CI).
	    <span class="stats-insufficient">Grey color indicates</span> insufficient amount of data for statistics.</p>
	  </div>
	</div>

	<div class="row">
	  <div class="span13">
	    <h4>{{ _("Statistics per") }} <big>{{ _("city") }}</big></h4>
	    <table>
	    <thead>
	    <td>{{ _("City") }}</td>
	    <td>{{ _("Smoking") }} - {{ _("overall") }} </td>
	    <td>{{ _("Smoking") }} - {{ _("second-hand exposure") }}</td>
	    <td>{{ _("Smoking") }} - {{ _("child exposure") }}</td>
	    <td>{{ _("Num. cars") }}</td>
	    <td>{{ _("Num.") }} {{ _("observation") }} {{ _("sessions") }}</td>
	    </thead>
	    <tbody>
	    {% for c in cities %}
	    {% if c.num_cars < 301 %}
	    <tr class="stats-insufficient">
	    	<td>{{c.city_name}}</td>
	    	<td>{{c.ratio_of_smokers|floatformat}}%</td>
	    	<td></td>
	    	<td></td>
	    	<td>{{c.num_cars}}</td>
	    	<td>{{c.num_observations}}</td>
	    </tr>
	    {% else %}
	    <tr>
	    	<td>{{c.city_name}}</td>
	    	<td>{{c.ratio_of_smokers|floatformat}}% &plusmn; {{c.ratio_of_smokers_interval|floatformat}}</td>
	    	<td>{{c.ratio_of_second_hand|floatformat}}% &plusmn; {{c.ratio_of_second_hand_interval|floatformat}}</td>
	    	<td>{{c.ratio_of_child|floatformat}}% &plusmn; {{c.ratio_of_child_interval|floatformat}}</td>
	    	<td>{{c.num_cars}}</td>
	    	<td>{{c.num_observations}}</td>
	    </tr>	    
	    {% endif %}
	    {% endfor %}
	    </tbody>
	    </table>
	    <p><b>Notes:</b></p>
	    <p>Error ranges are calculated with 99% Confidence Interval (CI).
	    <span class="stats-insufficient">Grey color indicates</span> insufficient amount of data for statistics.</p>
	  </div>
	  
	</div>	
    
    
    <!-- A map with all the observations -->
 	<hr>           
    <div class="row">
    	<div class="span16">
        <h2>{{ _("Observations map") }}</h2>
        	<p id="map_canvas"></p>
        </div>
    </div>
	
	
    <!-- About -->
    <a id="about"></a>&nbsp;
	<hr>
    <div class="row">    
       <div class="span11">
       <h2>{{ _("About") }}</h2>
       <p>{{ _("To collect data from multiple sites, globally, many times a day, over and over again, would be expensive. ") }}
          {{ _("So expensive, that study like that is impossible to run through traditional methods.") }}<br>
	   <p>{{ _("The idea is to ask volunteers to help.") }} <big>{{ _("YOU") }}</big>
	   	 {{ _("will help to conduct the study and do the research.") }}</p>
          <ul>
	      <li><a href="/observer/register">{{ _("Register") }}</a></li>
	      <li>{{ _("Download and install")}} <a href="https://market.android.com/details?id=nzdis.tobaccofree">Android</a> 
	      		{{ _("or") }} <a href="http://itunes.apple.com/us/app/tobaccofree/id510309016">iPhone</a> NZDIS TobaccoFree application</li> 
	      
	      <li>{{ _("Agree to") }} &raquo; {{ _("Ethical Conduct and Honour Code") }} &laquo;</big></li>
	      <li>{{ _("Go outside, stand by a busy street, and start logging the data") }}</li>
	      <li>{{ _("Anyone can participate") }}</li>
	      <li>{{ _("Anyone can use") }} <a href="/api">{{ _("the data collected by volunteers") }}.</a></li>
	    </ul>
	    <p>{{ _("The application allows easy logging of occurances of smoking in cars.") }}
	       {{ _("Install it, go out, and collect data about particular location. Instructions are provided within the application.") }}</p>
	    <p></p>
      </div>
	</div>
	
	<hr>
	<a id="awareness"></a>
	<div class="row">
       <div class="span11">
       <a name="about"></a>
       <h2>{{ _("Awareness") }}</h2>
	   <p></p>
	   <h3>{{ _("World") }}</h3>
        <ul>
          <li><a href="http://www.globalink.org">GlobaLink</a> &laquo;
	      	GlobaLink - the International Tobacco Control Community</li>
	      <li><a href="http://en.wikipedia.org/wiki/Tobacco_control">Tobacco control</a> &laquo;
	      	Article on Wikipedia about Tobacco control and the history of the movement</li>
	      <li><a href="http://en.wikipedia.org/wiki/World_Health_Organization_Framework_Convention_on_Tobacco_Control">WHO Convention</a> &laquo;
	      	Article on World Health Organization Framework Convention on Tobacco control</li>
	    </ul>
	    <h3>New Zealand</h3>
        <ul>
          <li><a href="http://www.sfc.org.nz">The Smokefree Coalition</a> &laquo;
	      	The Smokefree Coalition - te ohu auahi kore</li>
          <li><a href="http://www.smokefree.co.nz">Smokefree by Health Sponsorship Council</a> &laquo;
	      	Smokefree - auahi kore, Health Sponsorship Council</li>
          <li><a href="http://www.tereomarama.co.nz">Te Reo Marama</a> &laquo;
	      	Maori community for Tobacco resistance</li>
	    </ul>
      </div>
	</div>
	
	<div class="row">
		<div class="span11">
		<p></p>
		<h2>{{ _("Research articles") }}</h2>
		<ul>
			<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20696742">A qualitative case study of policy maker views about the protection of children from smoking in cars</a> Nicotine Tob Res. 2010 Sep;12(9):970-7. Epub 2010 Aug 9</li>
			<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/19052041">Public attitudes to laws for smoke-free private vehicles: a brief review</a> Tob Control. 2009 Aug;18(4):256-61. Epub 2008 Dec 3</li>
			<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/16998177">Observed smoking in cars: a method and differences by socioeconomic area</a> Tob Control. 2006 Oct;15(5):409-11</li>
		</ul>
		</div>
	</div>
	
	<hr>
	<div class="row">
		<div class="span11">
		<p></p>
		<h2>{{ _("Development and contribution") }}</h2>
		<p>
		<ul>
			<li><big><a href="/api">{{ _("Data API")}}</a></big><p>
			{{ _("Data collected by volunteers is free and we make it easily accessible to researchers and students.")}}
			{{ _("We have designed a set of web APIs through which the data records can be accessed.") }}
			{{ _("The data is provided through json, xml or yaml. Make use of it.")}}
			{{ _("Please give us feedback and let us know if you have a good way to process or visualise the data.")}}
			{{ _("Thank you.")}}
			</p></li>

			<li><big><a href="/translators">{{ _("Translations")}}</a></big><p>
			{{ _("The system will have impact in your country only when people who do not speak English will be able to view the data.")}}
			{{ _("If you know English and you know another language, please help in translating the website.") }}
			{{ _("Thank you.")}}
			</p></li>
			
			<li><a href="/contributors">{{ _("Project contributors")}}</a><p>
			{{ _("Many people have helped in making this system possible.")}}
			{{ _("They provided help through testing, feedback, research, data collection.") }}
			{{ _("All the work and efforts are appreciated.")}}
			{{ _("Thank you.")}}
			</p></li>			
		</ul>
			
		</p>
		</div>
	</div>
	
	<hr>
	<a id="feedback"></a>
	<div class="row">
       <div class="span11">
       <a name="about"></a>

       <h2>{{ _("Feedback") }} <small>{{ _("tell us what you think") }}</small></h2>

        <form action="/feedback/send" method="POST">
	          {% csrf_token %}
	          {{ form.non_field_errors }}
	          <fieldset>
	          
	          	{% include "observation/parts/field.html" with field=form.email %}
				{% include "observation/parts/field.html" with field=form.subject %}
				{% include "observation/parts/field.html" with field=form.description %}
				
				<div class="actions">
	            	<input type="submit" class="btn primary" value="{{ _("Send feedback") }} &raquo;">&nbsp;
	                <button type="reset" class="btn">{{ _("Clear form") }}</button>
	            </div>
			  </fieldset>
		</form>
	  </div>
	</div>
	
{% endblock %}

{% block footer %}   
        <footer>
        <center>
          <p>&copy; 2011-2012 <a href="http://nzdis.org">NZDIS Group</a> and <a href="http://otago.ac.nz">University of Otago</a></p>
        </center>
        </footer>
{% endblock %}
        
      </div>
    </div>

  </body>
</html>
