{% extends "base.html" %} 


{% block topbar %}
<div class="topbar">

	{% if form.errors %}
	<div class="alert-message error fade in" data-alert="alert"
		style="z-index: 101;">
		<a class="close pull-left" href="#">&times;</a>
		<p>
			<big>Please correct your FORM error{{form.errors|pluralize }} below</big>
		</p>
	</div>
	{% endif %} 
	
	{% if form.message %}
	<div class="alert-message success fade in" data-alert="alert"
		style="z-index: 101">
		<a class="close" href="#">&times;</a>
		<p>
			<big>{{form.message}}</big>
		</p>
	</div>
	{% endif %}

	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/"><img align="top" src="{{ STATIC_URL }}images/logo.png" height="20" width="20"/>&nbsp;&nbsp;Tobacco Free</a>
			<ul class="nav">
	            <li><a href="/#home">Home</a></li>
            </ul>
		</div>
	</div>
</div>
{% endblock %} 


{% block hero %}
<h1>
	NZDIS Tobacco Free <small> smoking in cars study</small>
</h1>
<p></p>
</p>
<p>&nbsp;</p>

{% endblock %} 




{% block content %}

<div class="row">
	<div class="span11">
		<hr>
		<h2>
			Register <small> and be able to upload data to the server</small>
		</h2>

		<form action="/observer/register" method="POST">
			{% csrf_token %} {{ form.non_field_errors }}
			<fieldset>

				{% include "observation/parts/field.html" with field=form.email %}
				{% include "observation/parts/field.html" with field=form.name %} 
				{% include "observation/parts/field.html" with field=form.surname %} 
				{% include "observation/parts/field.html" with field=form.affiliation %}
				{% include "observation/parts/field.html" with field=form.password %}
				
				<div class="actions">
					<input type="submit" class="btn primary"
						value="Send registration request &raquo;">&nbsp;
					<button type="reset" class="btn">Clear form</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}
